<% if @changed %>
   $('.js-<%= @post.id %>-post-points').html("<%= pluralize(@post.points, 'point') %>");
   $('.js-<%= @post.id %>-post-up-votes').html("<%= pluralize(@post.up_votes, 'up vote') %>");
   $('.js-<%= @post.id %>-post-down-votes').html("<%= pluralize(@post.down_votes, 'down vote') %>");
   $('.js-<%= @post.id %>-points').html("<%= @post.points %>");
 <% else %>
   $('.flash').prepend("<div class='alert alert-danger'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
 <% end %>
